src/catboost_info
src/materials/embed_model/model_300dim.pkl
src/__pycache__
src/materials/test_set_public.csv
src/materials/smiles_test_set_public.csv
src/materials/smiles_train_set_public.csv
src/materials/train_data_fix_concat.csv
src/materials/test_data_fix_concat.csv
src/materials/train_data_fix_concat_fixed_trunc.csv
src/materials/train_data.csv
src/materials/embed_model
src/best_model_weights.h5